name: docs-ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - docs/*
      - .github/workflows/docs.yml
      - mkdocs.yml
      - HMI/README.md

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material mkdocs-video markdown-include mike
      - run: cp HMI/README.md docs/hmi-serial-protocol.md
      - run: git config --global user.name Docs deploy
      - run: git config --global user.email docs@dummy.bot.com
      #- run: mike set-default stable
      - run: mike deploy --push --update-aliases stable
