name: docs-standalone-ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - docs-standalone/**
      - .github/workflows/docs-standalone-release.yml

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: pip install mkdocs-material mike
      - run: git config --global user.name Docs deploy
      - run: git config --global user.email docs@dummy.bot.com
      - run: mike deploy --config-file docs-standalone/mkdocs.yml --push --update-aliases standalone
